In [2]:
%matplotlib inline
%pylab inline

import pandas as pd
import numpy as np
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [3]:
data = pd.read_csv("student_flow_aggregated_file.csv")

In [4]:
data.head()

,Gender,actcat,T1_Level2,T2_Level2,T3_Level2,T1_IMFIT,T2_IMFIT,T3_IMFIT,YR1,YR2,transfer,HighestLevel2,count
0,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,2-year,2-year,0,Agric. & Nat. Res. Cons,1
1,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,2-year,2-year,0,Eng. Tech. & Drafting,1
2,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,2-year,2-year,0,Health Admin. & Assisting,1
3,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Moderate,Moderate,4-year,4-year,0,"Commun, Fam., & Personal Svcs",1
4,Female,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Moderate,Moderate,4-year,4-year,0,Education,1

In [30]:
dataT1_arr = np.unique(data.T1_Level2)
dataT2_arr = np.unique(data.T2_Level2)
df = pd.DataFrame(columns=['T1', 'T2', 'count'])

i = 0
for major_T1 in dataT1_arr:
    for major_T2 in dataT2_arr:
        col = data.loc[(data.T1_Level2 == major_T1) & (data.T2_Level2 == major_T2)].shape[0]
        df.loc[i] = [major_T1, major_T2, col]
        i += 1
        #print(major_T1, major_T2,col)

df
df.to_csv("T1_T2.csv", encoding='utf-8', index=False)
#data.loc[(data.T1_Level2 == dataT1_arr[0]) & (data.T2_Level2 == dataT2_arr[0])].shape

In [6]:
dataT2_arr = np.unique(data.T2_Level2)
dataT3_arr = np.unique(data.T3_Level2)
df = pd.DataFrame(columns=['T2', 'T3', 'count'])

i = 0
for major_T2 in dataT2_arr:
    for major_T3 in dataT3_arr:
        col = data.loc[(data.T2_Level2 == major_T2) & (data.T3_Level2 == major_T3)].shape[0]
        df.loc[i] = [major_T2, major_T3, col]
        i += 1
        #print(major_T1, major_T2,col)

df
df.to_csv("T2_T3.csv", encoding='utf-8', index=False)

In [72]:
data[u'Gender'] = data.Gender.map({'Male': 0, 'Female': 1})
data[u'YR1'] = data.YR1.map({'2-year': 0, '4-year': 1})
data[u'YR2'] = data.YR2.map({'2-year': 0, '4-year': 1})

In [73]:
data.head()

,Gender,actcat,T1_Level2,T2_Level2,T3_Level2,T1_IMFIT,T2_IMFIT,T3_IMFIT,YR1,YR2,transfer,HighestLevel2,count
0,1,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,0,0,0,Agric. & Nat. Res. Cons,1
1,1,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,0,0,0,Eng. Tech. & Drafting,1
2,1,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Good,Good,0,0,0,Health Admin. & Assisting,1
3,1,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Moderate,Moderate,1,1,0,"Commun, Fam., & Personal Svcs",1
4,1,1-15,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Agric. & Nat. Res. Cons,Good,Moderate,Moderate,1,1,0,Education,1

In [74]:
data.isnull().values.any()

False

In [77]:
act_cat = data.actcat.unique()
majors = data.T1_Level2.unique()
mood = data.T1_IMFIT.unique()

In [76]:
print(act_cat, majors, mood)

(array(['1-15', '16-19', '20-23', '24-27', '28-32', '33-36'], dtype=object), array(['Agric. & Nat. Res. Cons', 'Architecture',
       'Area, Eth. & Multidiscip. Studies', 'Arts: Visual & Performing',
       'Business', 'Commun, Fam., & Personal Svcs', 'Communications',
       'Comp. Sci. & Mathematics', 'Education', 'Eng. Tech. & Drafting',
       'Engineering', 'English & Foreign Lang.',
       'Health Admin. & Assisting', 'Health Sci. & Techno.',
       'Philosophy, Religion, & Theology',
       'Repair, Production, & Construction',
       'Sciences: Biological & Physical', 'Social Sciences & Law'], dtype=object), array(['Good', 'Moderate', 'Poor'], dtype=object), array([0, 1]))